body {
  background-color: white;
  color: black;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.navLinks li {
  list-style: none;
  padding: 1rem
}
